<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pro.writeboard">

<select id="maxNum" resultType="int">
	select ifnull(count(*),0) as board_num from writeBoard
</select>

<insert id="insertData" parameterType="com.pro.dto.WriteBoardDTO">
	insert into writeBoard (board_num, board_type, board_title, board_content, board_createDate)
	values (#{board_num}, #{board_type}, #{board_title}, #{board_content}, now())
</insert>

<select id="getReadData" parameterType="int" resultType="com.pro.dto.WriteBoardDTO">
	select board_num, board_type, board_title, board_content, board_createDate from writeBoard
	where board_num = #{board_num}
</select>

<select id="getList" resultType="com.pro.dto.WriteBoardDTO">
	SELECT board_num, board_type, board_title, board_content, DATE_FORMAT(board_createDate, '%Y.%m.%d %H:%i:%S') AS board_createDate
	FROM writeBoard
	WHERE board_type LIKE CONCAT('%', #{searchValue}, '%')
	ORDER BY board_createDate desc
	LIMIT 10 OFFSET #{start};
</select>

<select id="getDataCount" parameterType="map" resultType="int">
	select ifnull(count(*),0) from writeBoard
	where board_type like CONCAT('%', #{searchValue}, '%')
</select>

<delete id="deleteData" parameterType="int">
	delete from writeBoard where board_num = #{board_num}
</delete>

<select id="nextReadData" parameterType="map" resultType="com.pro.dto.WriteBoardDTO">
	<![CDATA[
	select data.* from (
	(select board_num, board_type, board_title, board_content, DATE_FORMAT(board_createDate, '%Y.%m.%d %H:%i:%S') AS board_createDate from writeBoard
	where board_createDate >= #{board_createDate}
	and board_num != #{board_num}
	and board_type LIKE CONCAT('%', #{searchValue}, '%')
	ORDER BY board_createDate
	LIMIT 2) as data) order by board_createDate desc;
	]]>
</select>

<select id="prevReadData" parameterType="map" resultType="com.pro.dto.WriteBoardDTO">
	<![CDATA[
	select board_num, board_type, board_title, board_content, DATE_FORMAT(board_createDate, '%Y.%m.%d %H:%i:%S') AS board_createDate 
	from writeBoard
	where board_createDate < #{board_createDate}
	and board_num != #{board_num}
	and board_type LIKE CONCAT('%', #{searchValue}, '%')
	ORDER BY board_createDate desc
	LIMIT 2;
	]]>
</select>

<update id="updateData" parameterType="com.pro.dto.WriteBoardDTO">
	update writeBoard set board_title = #{board_title}, board_content = #{board_content},
	board_type = #{board_type},
	board_createDate = #{board_createDate}, board_updateDate = now()
	where board_num = #{board_num};
</update>






</mapper>